<footer class="text-center text-lg-start bg-dark fixed-bottom" >
    <div class="container d-flex justify-content-center py-5">
        <a href="https://www.linkedin.com/in/guillermo-salda%C3%B1a-su%C3%A1rez-ba97b9166" target="_blank">
            <i class="fab fa-linkedin fa-2x p-2"></i>
        </a>
        <a href="">
            <i class="fab fa-github fa-2x p-2"></i>
        </a>
    </div>

    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Guillermo Saldaña Suárez
    </div>
</footer>