<section class="hero-card">
    <div>
        <h1>Hi! My name is Guillermo</h1>
        <div class="app">
            <div class="tag-list">
            <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
                <div class="inner">
                <div class="tag"><span>#</span> JavaScript</div>
                <div class="tag"><span>#</span> Typescript</div>
                <div class="tag"><span>#</span> C#</div>
                <div class="tag"><span>#</span> Java</div>
                <div class="tag"><span>#</span> Python</div>
                <!-- duplicated content -->
                <div class="tag"><span>#</span> JavaScript</div>
                <div class="tag"><span>#</span> Typescript</div>
                <div class="tag"><span>#</span> C#</div>
                <div class="tag"><span>#</span> Java</div>
                <div class="tag"><span>#</span> Python</div>
                </div>
            </div>
            <div class="loop-slider" style="--duration:19260ms; --direction:reverse;">
                <div class="inner">
                <div class="tag"><span>#</span> SqlServer</div>
                <div class="tag"><span>#</span> PostgreSql</div>
                <div class="tag"><span>#</span> Informix</div>
                <!-- duplicated content -->
                <div class="tag"><span>#</span> SqlServer</div>
                <div class="tag"><span>#</span> PostgreSql</div>
                <div class="tag"><span>#</span> Informix</div>
                </div>
            </div>
            <div class="loop-slider" style="--duration:10449ms; --direction:normal;">
                <div class="inner">
                <div class="tag"><span>#</span> ASP.NET Framework</div>
                <div class="tag"><span>#</span> ASP.NET Core</div>
                <div class="tag"><span>#</span> TemporalIO</div>
                <div class="tag"><span>#</span> Database Science </div>
                <div class="tag"><span>#</span> HTML</div>
                <!-- duplicated content -->
                <div class="tag"><span>#</span> ASP.NET Framework</div>
                <div class="tag"><span>#</span> ASP.NET Core</div>
                <div class="tag"><span>#</span> TemporalIO</div>
                <div class="tag"><span>#</span> Database Science </div>
                <div class="tag"><span>#</span> HTML</div>
                </div>
            </div>
            <div class="loop-slider" style="--duration:16638ms; --direction:reverse;">
                <div class="inner">
                <div class="tag"><span>#</span> Pandas</div>
                <div class="tag"><span>#</span> Numpy</div>
                <div class="tag"><span>#</span> HTML</div>
                <div class="tag"><span>#</span> CSS</div>
                <div class="tag"><span>#</span> Angular</div>
                <div class="tag"><span>#</span> Node.js</div>
                <!-- duplicated content -->
                <div class="tag"><span>#</span> Pandas</div>
                <div class="tag"><span>#</span> Numpy</div>
                <div class="tag"><span>#</span> HTML</div>
                <div class="tag"><span>#</span> CSS</div>
                <div class="tag"><span>#</span> Angular</div>
                <div class="tag"><span>#</span> Node.js</div>
                </div>
            </div>
            <div class="fade"></div>
            </div>
        </div>
    </div>
</section>